body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
}

h1, h2 {
  text-align: center;
}

.manga-container, .anime-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.manga-card, .anime-card {
  width: 30%;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

.manga-card img, .anime-card img {
  width: 100%;
  height: auto;
}

.manga-card h3, .anime-card h3 {
  margin-top: 10px;
}

.manga-card p, .anime-card p {
  font-size: 0.8em;
  margin-bottom: 5px;
}
